/* Aca van los estilo CSS */

/* resetear la configuracion */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6; /* blanco puro es #fffff */
    color: #2d3748;
    padding: 40px 20px;
}

.contenedor-principal {
    max-width: 800px;
    /* border: 1px dotted yellowgreen; */
    margin: 0 auto;/*arriba derecha abajo izquierda, si esta repetido arriba y abajo, derecha izquierda*/
    text-align: left;
}

.titulo-clase {
    font-size: 34px;
    color: #0056b3;
    margin-bottom: 8px;
    text-align: center;
}

.subtitulo {
    font-size: 18px;
    color: #718096;
    margin-bottom: 40px;
    text-align: center;
}

